body {
    margin: 0;
    padding: 0;
}


/* INICIO HEADER*/
header {
    position: absolute;
    width: 100%;
    z-index: 10;
    font-family: 'Lato', sans-serif;
}

header .wrapper {
    width: 1180px;
    margin: 0 auto;
    line-height: 114px;
    overflow: hidden;
    border-bottom: 1px solid #6b6b6b;
}

header .wrapper #logo {
    display: block;
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    text-align: center;
    color: #333;
    background-color: #fff;
    line-height: 42px;
    top: 35px;
    text-decoration: none;
}

header .wrapper nav {
    float: left;
    width: 600px;
}

header .wrapper nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header .wrapper nav ul li {
    float: left;
}

header .wrapper nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #cecece;
    margin-left: 52px;
}

header .wrapper aside {
    float: right;
    position: relative;
}

header .wrapper aside .usuario {
    float: left;
    margin-right: 40px;
}

header .wrapper aside .usuario ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header .wrapper aside .usuario ul li {
    float: left;
}

header .wrapper aside .usuario ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #cecece;
    margin-right: 52px;
}

header .wrapper aside .usuario ul li a:hover {
    text-decoration: underline;
}

header .wrapper aside .usuario ul li a[href*="user"]:before {
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 5px;
}

header .wrapper aside .usuario ul li a[href*="basket"]:before {
    font-family: FontAwesome;
    content: "\f290";
    margin-right: 5px;
}

header .wrapper aside .busca {
    position: absolute;
    right: 0;
    top: 36px;
    height: 42px;
    width: 42px;
    border: 1px solid #979797;
    overflow: hidden;
    box-sizing: content-box;
    transition: width 1s ease-out;
}

header .wrapper aside .busca a.submit {
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    float: right;
    border-left: 1px solid #979797;
    background: url("../img/search.png") no-repeat 10px 10px;
}

header .wrapper aside .busca #searchinput {
    line-height: 42px;
    width: 0;
    position: absolute;
    top: 0;
    right: 42px;
    border: 0;
    font-size: 16px;
    background: #eee;
    color: #333;
    transition: width 1s ease-out;
}

header .wrapper aside .busca:hover #searchinput {
    width: 300px;
    padding: 0 0 0 10px;
}

header .wrapper aside .busca:hover {
    width: 349px;
}
/*FIM HEADER*/


/*INICIO HERO*/
.hero {
    height: 617px;
    width: 100%;
    text-align: center;
    background: linear-gradient(#4c4c4c, #b1b1b1);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hero article h1,
.hero article h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.hero article h1 {
    font-size: 72px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hero article h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: georgia;
    font-style: italic;
    font-weight: 300;
}

.hero article {
    position: relative;
    width: 90%;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero article .btn {
    padding: 0 40px;
    display: inline-block;
    line-height: 60px;
    margin-top: 35px;
    background-color: #6a6a6a;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
}

.hero article .btn:hover {
    background-color: #555;
}

.hero ul {
    list-style: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
}

.hero ul li {
    display: inline-block;
}

.hero ul li a {
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid #cecece;
    text-indent: -1000px;
    overflow: hidden;
}

.hero ul li a:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.prev,
.next {
    position: absolute;
    width: 39px;
    line-height: 59px;
    background-color: #cfcfcf;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-5%) scale(1, 2);
    -moz-transform: translateY(-50%) scale(1, 2);
    -o-transform: translateY(-50%) scale(1, 2);
    -ms-transform: translateY(-50%) scale(1, 2);
    transform: translateY(-50%) scale(1, 2);
}

.prev:hover,
.next:hover {
    background-color: #ddd;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}
/*FIM HERO*/


/*WRAPPER*/
section .wrapper {
    width: 1180px;
    margin: 0 auto;
}
/*WRAPPER*/


/*INICIO GRELHA*/
.grelha {
    margin-top: 32px;
    margin-bottom: 32px;
}

.grelha .wrapper {
    overflow: hidden;
}

.grelha .wrapper ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.grelha .wrapper ul li {
    float: left;
    height: 295px;
    width: 295px;
    padding: 30px 10px;

    box-sizing: border-box;
}

.grelha .wrapper ul li:first-child {
    height: 590px;
}

.grelha .wrapper ul li:nth-child(7) {
    height: 590px;
    float: right;
}

.grelha .wrapper ul li .bloco-conteudo {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.grelha .wrapper ul li .bloco-conteudo .cont-bloco-icone {
    font-size: 36px;
    font-family: FontAwesome;
    margin: 0;
}

.grelha .wrapper ul li .bloco-conteudo .cont-bloco-titulo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    font-family: Lato, sans-serif;
    margin: 15px 0 5px 0;
}

.grelha .wrapper ul li .bloco-conteudo .cont-bloco-subtitulo {
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-family: georgia, sans-serif;
    margin: 4px 0 9px 0;
}

.grelha .wrapper ul li .bloco-conteudo .cont-bloco-tweet {
    font-style: italic;
    font-size: 14px;
    font-family: georgia, sans-serif;
}

.grelha .wrapper ul li .bloco-conteudo .cont-bloco-tweet-autor {
    font-weight: bold;
    font-size: 14px;
    font-family: Lato, sans-serif;
}

.grelha .wrapper li.bloco-grande {
    background-color: #d2d2d2;
}

.grelha .wrapper li.bloco-twitter {
    background-color: #bbb;
}

.grelha .wrapper li.bloco-produto {
    background-color: #606060;
}

.grelha .wrapper li.bloco-venda {
    background-color: #cacaca;
}

.grelha .wrapper li.bloco-vazio {
    background-color: #c2c2c2;
}

.grelha .wrapper ul li.bloco-grande .cont-bloco-icone,
.grelha .wrapper ul li.bloco-grande .cont-bloco-tweet,
.grelha .wrapper ul li.bloco-grande .cont-bloco-tweet-autor {
    display: none;
}

.grelha .wrapper ul li.bloco-twitter .cont-bloco-icone:before,
.grelha .wrapper ul li.bloco-twitter .cont-bloco-icone:after {
    content: '';
    width: 22px;
    display: inline-block;
    height: 1px;
    margin: 12px 10px;
    background-color: #fff;
}

.grelha .wrapper ul li.bloco-twitter .cont-bloco-titulo,
.grelha .wrapper ul li.bloco-twitter .cont-bloco-subtitulo {
    display: none;
}

.grelha .wrapper ul li.bloco-produto .cont-bloco-tweet,
.grelha .wrapper ul li.bloco-produto .cont-bloco-tweet-autor {
    display: none;
}

.grelha .wrapper ul li.bloco-venda .cont-bloco-tweet,
.grelha .wrapper ul li.bloco-venda .cont-bloco-tweet-autor,
.grelha .wrapper ul li.bloco-venda .cont-bloco-icone {
    display: none;
}

.grelha .wrapper ul li.bloco-vazio .bloco-conteudo {
    display: none;
}

/* FIM GRELHA*/


/*INICIO SIGN UP*/
.signup {
    margin: 100px 0;
}

.signup .wrapper {
    text-align: center;
}

.signup .wrapper h3 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
}

.signup .wrapper h4 {
    font-size: 18px;
    font-family: georgia;
    font-style: italic;
    margin-top: 0;
    font-weight: normal;
}

.signup .wrapper .enviar {
    width: 570px;
    margin: 55px auto 0 auto;
    overflow: hidden;
}

.signup .wrapper .inputadd {
    float: left;
    height: 56px;
    width: 450px;
    margin: 0;
    padding: 0 10px;
    font-size: 24px;
}

.signup .wrapper .add {
    float: left;
    line-height: 58px;
    width: 94px;
    margin: 0;
    background-color: #f68236;
    border: 1px solid #e67429;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: lato, sans-serif;
}

.signup .wrapper .add:hover {
    background-color: #e67429;
}
/*FIM SIGN UP*/


/*INICIO BARRA CINZA*/
.barracinza {
    margin: 47px 0;
}

.barracinza .wrapper {
    height: 118px;
    background-color: #bbb;
    position: relative;
}
/*FIM BARRA CINZA*/


/*INICIO FOOTER*/
.footer {

}

.footer .wrapper {
    height: 300px;
    overflow: hidden;
}

.footer .wrapper arcticle {
    float: left;
    width: 279px;
    height: 160px;
    margin-right: 15px;
    border-right: 1px solid #ddd;
}

.footer .wrapper arcticle:last-child {
    border: 0;
}

.footer .wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .wrapper ul li {
    margin: 0 0 8px 0;
    font-family: 'Lato', sans-serif;
}

.footer .wrapper ul li a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

.footer .wrapper ul li a:hover {
    text-decoration: underline;
}

.footer .wrapper .titulo-lista {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}

.footer .wrapper .social .redesocial {
    margin-top: 20px;
    line-height: 32px;
    width: 32px;
    border: 1px solid #606060;
    box-sizing: content-box;
    float: left;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.footer .wrapper .social .redesocial:hover {
    color: #666;
}

.footer .wrapper .social .redesocial[href*="twitter"]:before {
    font-family: FontAwesome;
    content: '\f099';
}

.footer .wrapper .social .redesocial[href*="facebook"]:before {
    font-family: FontAwesome;
    content: '\f09a';
}

.footer .wrapper .social .redesocial[href*="instagram"]:before {
    font-family: FontAwesome;
    content: '\f16d';
}
/*FIM FOOTER*/
